<h1>Add a new Article</h1>

<form method="POST" action="/ArticlePage/Create">
    <div>
        <label for="ArticleTitle">Title:</label>
        <input type="text" name="ArticleTitle" id="ArticleTitle" />
    </div>
    <div>
        <label for="ArticleBody">Body:</label>
        <textarea name="ArticleBody" id="ArticleBody"></textarea>
    </div>
    <div>
        <input type="submit" value="Add Article"/>
    </div>
</form>

<script>


</script>