@model IEnumerable<Blog.Models.Author>

@foreach (Blog.Models.Author Author in Model)
{
    <div>
        <a href="/AuthorPage/Show/@Author.AuthorId">@Author.AuthorFName @Author.AuthorLName</a>
    </div>
}

