@model IEnumerable<Blog.Models.Author>

<form method="GET" action="/AuthorPage/List">
    <div>
        <input type="text" name="SearchKey"/>
        <input type="submit" value="Search" />
    </div>
</form>

@foreach (Blog.Models.Author Author in Model)
{
    <div>
        <a href="/AuthorPage/Show/@Author.AuthorId">@Author.AuthorFName @Author.AuthorLName</a>
    </div>
}

