<h2>Add a New Tag</h2>

<form method="POST" action="/TagPage/Create">
    <div>
        <label>Name:</label>
        <input type="text" name="TagName" id="TagName" />
    </div>
    <div>
        <label>Color:</label>
        <input type="text" name="TagColor" id="TagColor" />
    </div>
    <div>
        <input type="submit" value="Add Tag" />
    </div>
</form>