@model Blog.Models.Tag

<h1>@Model.TagName</h1>
<a href="/TagPage/DeleteConfirm/@Model.TagId" style="color:#ab2020;">Delete Tag</a>
<p>Articles with this tag: @Model.NumArticles</p>
<div style="width:100px; height:100px; background:#@Model.TagColor">&nbsp;</div>